<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
</head>
<body>
    <h1>Bem-vindo à Página Inicial</h1>
    {% if current_user.is_authenticated %}
        <p>Bem-vindo, {{ current_user.username }}!</p>
        <a href="{{ url_for('meus_pagamentos') }}">Ver Meus Pagamentos</a>
        <a href="{{ url_for('logout') }}">Logout</a>
    {% else %}
        <a href="{{ url_for('login') }}">Login</a>
    {% endif %}
</body>
</html>
